{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Predice cual es tu estado físico actual {% endblock %}</h1>
    <h3>{% block body %} Introduce tus datos y un modelo de IA te dirá en qué condición física te encuentras actualmente{% endblock %}</h3>
    <h3>{% block result0 %} 0 Mala condicion física{% endblock %}</h3>
    <h3>{% block result1 %} 1 Baja condición física{% endblock %}</h3>
    <h3>{% block result2 %} 2 Buena condición física{% endblock %}</h3>
    <h3>{% block result3 %} 3 Excelente condición física{% endblock %}</h3>
{% endblock %}